:root {
    --primary-trim: #CFCFCF;
}

html {
    height: 100%;
    font-size: 16px;
    font-family: sans-serif;
    color: #2A2A2A;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

div.wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 10px;
}

aside {
    box-sizing: border-box;
    flex: 0 0 300px;
    max-width: 300px;
    padding: 20px;
    border: 0px solid var(--primary-trim);
    border-right-width: 1px;
}

main {
    box-sizing: border-box;
    flex: 1 1 auto;
    padding: 0.5em 1em;
}

div.content {
    max-width: 1500px;
    margin: 0 auto;
}

nav.breadcrumb {
    padding: 0.5em 0;
    font-size: 1.25em;
}

nav.breadcrumb ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.breadcrumb ul li {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    word-break: keep-all;
}

nav.breadcrumb ul li::after {
    display: inline-block;
    vertical-align: bottom;
    height: 1.2em;
    width: 1.2em;
    margin: 0 -0.25em;
    content: url('../img/icon-chevron-right.svg');
}

nav.breadcrumb ul li:last-child:after {
    content: '';
}

a[href] {
    color: blue;
}

a[href]:visited {
    color: purple;
}

a[href]:active {
    color: darkblue;
}

.logo-container {
    box-sizing: border-box;
    text-align: center;
}

ul.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.link-list li {
    margin: 4px 0px;
}

ul.link-list.horizontal {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

ul.link-list.horizontal li {
    margin: 0;
}

a.icon-link::before, span.icon {
    display: inline-block;
    vertical-align: bottom;
    height: 1.2em;
    width: 1.2em;
}

a.icon-link.login::before {
    content: url('../img/icon-login.svg');
}

a.icon-link.wishlist::before {
    content: url('../img/icon-wishlist.svg');
}

a.icon-link.feedback::before {
    content: url('../img/icon-feedback.svg');
    vertical-align: middle;
    margin-right: 2px;
}

span.icon.facebook {
    content: url('../img/icon-facebook.svg');
}

span.icon.twitter {
    content: url('../img/icon-twitter.svg');
}

span.icon.instagram {
    content: url('../img/icon-instagram.svg');
}

span.icon.location {
    content: url('../img/icon-location.svg');
}

span.icon.phone {
    content: url('../img/icon-phone.svg');
}

span.icon.email {
    content: url('../img/icon-email.svg');
}

aside nav {
    margin: 5vh 0px;
}

aside ul.link-list li {
    font-size: 20px;
}

nav.feature-links ul.link-list.horizontal {
    justify-content: space-evenly;
}

nav.feature-links {
    margin: 20px 0;
}

nav.main-links ul.link-list li {
    margin: 0.8em 0px;
    font-size: 24px;
}

nav.main-links ul.link-list li.current {
    font-weight: bold;
}

nav.main-links ul.link-list li.current::before {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    content: url('../img/icon-chevron-right.svg');
    vertical-align: bottom;
    margin: 0 -0.25em;
}

form.search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 4px;
}

form.search-form .search-field {
    max-width: 12em;
}

form.search-form input {
    font-size: 18px;
}

form.search-form .search-field input[type="search"] {
    display: inline-block;
    max-width: 100%;
}

h2 + p {
    margin-top: 5px;
}

div.content > h1 {
    margin: 0.8em 0;
}

div.content.index p {
    margin-bottom: 2em;
}

div.content.product section > h2 {
    margin-bottom: 1em;
}

div.content.about-us p {
    margin: 5px 0 1em;
}

div.content div.text-box {
    margin: 1em 0;
}

div.content ul.no-margin {
    margin: 0;
}

div.content.services p {
    margin: 1em 0;
}

div.content.services .policies {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
}

div.content.services .policies .policy {
    flex: 0 1 300px;
}

div.content.services .policies .policy figure {
    margin: 0;
    background-color: #efefef;
    text-align: center;
}

div.content.services .policies .policy h3 {
    margin: 0.25em 0;
    text-align: center;
}

footer {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: max(10px, 2vw);
    font-size: 1.1rem;
    border: 0px solid var(--primary-trim);
    border-top-width: 1px;
}

div.social-links a {
    text-decoration: none;
    margin: 0px 0.25em;
}

div.social-links span.icon {
    font-size: 1.4em;
    width: auto;
}

span.currency {
    font-family: monospace, sans-serif;
    color: #666666;
    font-weight: normal;
}

.catalogue {
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 1.5em;
    justify-content: space-evenly;
}

.catalogue div.product {
    --border-radius: 5px;

    position: relative;
    display: inline-block;
    background-color: white;
    border-radius: var(--border-radius);
    padding: 5px;
    border: 1px solid var(--primary-trim);
}

.catalogue div.product.new::before {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: darkgreen;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    content: "NEW";
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.catalogue div.product figure {
    margin: 0;
    text-align: center;
}

.catalogue div.product > h3 {
    margin: 1rem;
    font-size: 1.5em;
}

.catalogue div.product > h3 span.currency {
    font-size: 0.8em;
    float: right;
}

.product-categories {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1em;
}

.product-categories .category {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--primary-trim);
}

.product-categories .category figure {
    text-align: center;
}

.product-categories .category > h3 {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 2em;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.product-overview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: max(2em, 3vw);
}

.product-overview .product-gallery {
    flex: 0 1 auto;
}

.product-overview .product-purchase {
    flex: 1 1 auto;
}

.product-overview .product-gallery figure {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 1em;
    border: 1px solid var(--primary-trim);
    text-align: center;
}

.product-overview .product-gallery .product-colors {
    margin: 0.5em 0;
}

.product-overview .product-gallery .product-colors .alternate {
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid var(--primary-trim);
}

.product-overview .product-purchase .price {
    font-size: 1.8em;
    margin: 1em 0;
}

.product-overview .product-purchase .add-to-cart {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1em;
    margin: 1em 0;
}

.product-overview .product-purchase form .field > label {
    display: block;
}

.product-overview .product-purchase form select,
.product-overview .product-purchase form button {
    font-size: 1.8em;
}

.product-overview .product-purchase form a {
    font-size: 1.25em;
}

.product-details {
    margin: 30px 0px;
}

.product-details > h3 {
    margin: 0 0 5px;
}

.product-details table {
    --table-border: 1px solid #666666;
    border: var(--table-border);
    border-collapse: collapse;
    min-width: 300px;
}

.product-details table td {
    box-sizing: border-box;
    padding: 0.5em;
    border: var(--table-border);
}

div.two-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

div.two-column > * {
    box-sizing: border-box;
    flex: 0 0 50%;
}

div.content.contact-us div.two-column {
    box-sizing: border-box;
    padding: 1em 0;
}

form.common-form .field {
    margin: 1em 0;
}

form.common-form div.field.no-margin {
    margin-top: 0;
}

form.common-form .field label {
    display: block;
    font-weight: bold;
}

form.common-form .field input[type="text"],
form.common-form .field input[type="email"],
form.common-form .field textarea,
form.common-form .field select {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    max-width: 500px;
    font-size: 1.25em;
}

form.common-form .field textarea {
    height: 4em;
}

form.common-form .field input[type="submit"] {
    font-size: 1.25em;
}

div.content.contact-us div.details ul {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    list-style: none;
}

div.content.contact-us div.details ul li {
    margin: 0.5em 0;
}

@media screen and (min-width: 769px) {
    .mobile-only {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --sidebar-footer-border: 0px;
    }

    .desktop-only {
        display: none !important;
    }

    div.wrapper {
        flex-direction: column;
    }

    aside {
        padding: 5px 20px;
        max-width: none;
        border-right-width: 0px;
    }

    .logo-container img {
        width: 150px;
        height: 150px;
    }

    aside nav, nav.main-links {
        margin: 8px auto;
        max-width: 400px;
    }

    aside ul.link-list, aside ul.link-list.horizontal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 0;
    }

    aside ul.link-list li {
        flex: 0 0 50%;
        text-align: center;
    }

    nav.main-links ul.link-list li {
        margin: 0.25em 0;
    }

    nav.feature-links {
        margin: 20px auto 0.25em;
    }

    nav.feature-links ul.link-list li {
        font-size: 24px;
    }

    div.content > h1 {
        margin: 0;
        text-align: center;
    }

    footer {
        flex-direction: column-reverse;
        row-gap: 1em;
        border-top-width: 0px;
        font-size: 1em;
    }

    .catalogue {
        grid-template-columns: min(90vw, 400px);
        justify-content: center;
    }

    .product-categories {
        flex-direction: column;
        align-items: center;
    }

    .product-categories .category {
        width: 100%;
        max-width: 500px;
    }

    div.content.product .product-overview .product-gallery,
    div.content.product .product-overview .product-gallery figure {
        width: 100%;
    }

    .catalogue div.product figure img,
    .product-categories div.category figure img,
    div.content.product .product-overview .product-gallery figure img {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
    }

    div.two-column {
        flex-direction: column;
    }

    form.common-form {
        width: 100%;
    }

    div.content.product .product-overview {
        flex-direction: column;
        margin: 0 auto;
        max-width: 500px;
    }

    nav.mobile-pre-footer {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }

    form.search-form {
        justify-content: center;
        margin: 1em 0;
    }

    form.search-form .search-field {
        flex: 1 1 auto;
        max-width: unset;
    }

    form.search-form .search-field label {
        display: block;
        text-align: left;
    }

    form.search-form .search-field input {
        width: 100%;
    }

    nav.mobile-pre-footer ul li {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 1400px) {
    .product-categories,
    .product-overview {
        flex-wrap: wrap;
    }
}